<!DOCTYPE html>
<html>
<head>
    
    <title>Barbie</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <style>
      body{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
  </style>
</head>
<body class="bg2">
    <div class="he1">
        <br>
        <label style="font-size:xx-large;margin:10px;font-family:'Times New Roman', Times, serif;color:black;font-style: oblique;font-weight: bold;">ToyJoy.com</label>
        <div class="dropdown">
            <button class="dropbtn"><a href="{{url_for('home')}}">Home</a></button>
          </div>
          <div class="dropdown">
            <button class="dropbtn"><a href="">Categories</a></button>
            <div class="dropdown-content">
              <a href="{{url_for('toys')}}">Toys & Games</a>
              <a href="{{url_for('sports')}}">Sports & Outdoor</a>
              <a href="{{url_for('rideon')}}">Rideons & Cycles</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn"><a href="">Age</a></button>
            <div class="dropdown-content">
              <a href="{{url_for('zero')}}">0 - 12 Months</a>
              <a href="{{url_for('one')}}">1 - 3 Years</a>
              <a href="{{url_for('four')}}">4 - 7 Years</a>
              <a href="{{url_for('eight')}}">8 - 10 Years</a>
              <a href="{{url_for('eleven')}}">11 - 14 Years</a>
              <a href="{{url_for('fourteen')}}">14 Years</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn"><a href="">Brand</a></button>
            <div class="dropdown-content">
              <a href="{{url_for('barbie')}}">Barbie</a>
              <a href="{{url_for('lego')}}">Lego</a>
              <a href="{{url_for('ham')}}">Hamleys</a>
            </div>
          </div>
          <div class="dropdown" style="margin-left: 850px;">
            <button class="profile-icon" style="margin-left: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png" width="25px" height="25px"></button>
            <div class="dropdown-content">
              <a href="#">My Profile</a>
              <a href="#">My Orders</a>
              <a href="{{url_for('login')}}">Logout</a>
            </div>
            
          </div>
          <button class="cart" style="margin-left: 10px;"><a href=""><img src="https://cdn-icons-png.flaticon.com/128/3514/3514491.png" width="25px" height="25px"></a></button>
          <!--<label style="margin: 40px;"><a href="">Home</a></label>
          <label style="margin: 1px;"><a href="">Categories</a></label>
          <label style="margin: 25px;"><a href="">Age</a></label>
          <label style="margin: 10px"><a href="">Brand</a></label>
          <label style="margin-left:800px ;"><a href="{{url_for('login')}}">Login</a></label>
          <label style="margin-left: 20px;"><a href="{{url_for('home')}}">Register</a></label>-->
      </div>
      <div>
        <br><br><br>
        <label style="padding-left: 630px;;font-family:'Times New Roman', Times, serif;font-size:45px;">Barbie</label>
        <br><br><br>
        <div class="row1">
          <div class="column1">
            <img src="https://hmadmin.hamleys.in/product/493173715/300/493173715-1.jpg" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Creative Activity Kit, Multiple Activity Barbie themed DIY Craft Kit</p>
            <p style="color: crimson;">Rs.1499</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://cdn.pixelspray.io/v2/black-bread-289bfa/HrdP6X/original/hamleys-product/491567599/300/491567599.webp" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Fashionista Doll, Dolls & Accessories</p>
            <p style="color: crimson;">Rs.1149</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://cdn.pixelspray.io/v2/black-bread-289bfa/HrdP6X/original/hamleys-product/490803854/300/490803854-1.webp" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Glitz Doll, Dolls & Accessories for Kids</p>
            <p style="color: crimson;">Rs.1599</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://toyzone.in/cdn/shop/products/Barbie-Mini-Ride-On13_62a8008f-451e-41b9-bb6c-f6091bd77041_1024x1024@2x.jpg?v=1665118433" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Mini Ride On</p>
            <p style="color: crimson;">Rs.1099</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <div class="row1">
          <div class="column1">
            <img src="https://cdn.pixelspray.io/v2/black-bread-289bfa/HrdP6X/original/hamleys-product/493173713/300/493173713-1_6588.jpeg" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Creative Craft, DIY Arts and Crafts</p>
            <p style="color: crimson;">Rs.1499</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://cdn.pixelspray.io/v2/black-bread-289bfa/HrdP6X/original/hamleys-product/491603732/300/491603732-1.webp" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Doll With Floral Dress, Dolls & Accessories</p>
            <p style="color: crimson;">Rs.1149</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://cdn.pixelspray.io/v2/black-bread-289bfa/HrdP6X/original/hamleys-product/490537017/300/490537017-1.webp" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie in India in New Look, New Brocade & Silk Sari Dolls & Accessories for Kids</p>
            <p style="color: crimson;">Rs.1599</p>
            <button class="btn1">ADD TO CART</button>
        </div>
        <div class="column1">
            <img src="https://www.funcorp.in/cdn/shop/files/71SChpNSEjS._SL1500.jpg?v=1718976280" width="250px" height="250px">
            <br><br>
            <p style="font-weight: bold;">Barbie Dreamtopia 11.5-Inch Purple Hair Fairy Doll Wearing Skirt, Clip-On Wings & Tiara</p>
            <p style="color: crimson;">Rs.1099</p>
            <button class="btn1">ADD TO CART</button>
        </div>

          </div>
    </div>
    <div class="fo1">

        <br>
        <div class="row">
            <div class="column">
                <ul style="margin-left: 50px;list-style-type: none;">
                    <li style="font-size: x-large;font-weight: bold;">Categories</li>
                    <br>
                    <li ><a href="{{url_for('toys')}}" class="a2">Toys and Games</a></li>
                    <li><a href="{{url_for('sports')}}" class="a2">Sports & Outdoor</a></li>
                    <li><a href="{{url_for('rideon')}}" class="a2">Ride-Ons and Cycling</a></li>
                </ul>
            </div>
            <div class="column">
                <ul style="margin-left: 50px;list-style-type: none;">
                    <li style="font-size: x-large;font-weight: bold;">Support</li>
                    <br>
                    <li>My Account</li>
                    <li>Customer Care</li>
                    <li>Track Order</li>
                    <li>Cancel/Return Order</li>
                </ul>
            </div>
            <div class="column">
                <ul style="margin-left: 50px;list-style-type: none;">
                    <li style="font-size: x-large;font-weight: bold;">Social Media</li>
                    <br>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                </ul>
            </div>
           
    </div>
</body>
</html>