<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td{
        border: 3px solid black;
        border-collapse: collapse;
    }
</style>
<body>
    <h1>Register Output</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Password</th>
            <th>confirmpassword</th>
        </tr>
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>.....</td>
            <td>.....</td>
        </tr>
    </table>
    <br><br>
    <h1>Login Output</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>{{username}}</td>
            <td>.....</td>
        </tr>
    </table>
    <br><br>
    <form action="\">
        <button type="submit">Back to Register page</button>
    </form>>
</body>
</html>