<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='jquery/jquery.js')}}"></script>
    <style>
        body{
            background-image: url('/static/image/loginbg.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="bg1">
    <!--<div class="he">
        <br>
        <label style="font-size:xx-large;font-style: oblique;margin:10px;font-family:'Times New Roman', Times, serif;">Hamleys</label>
        <label style="margin: 40px;"><a href="">Home</a></label>
        <label style="margin: 1px;"><a href="">Categories</a></label>
        <label style="margin: 25px;"><a href="">Age</a></label>
        <label style="margin: 10px"><a href="">Brand</a></label>
        <label style="margin-left:800px ;"><a href="">Login</a></label>
        <label style="margin-left: 20px;"><a href="">Register</a></label>
    </div>-->
    <br><br><br>
    <div class="r1" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <form action="/register" method="POST">
        <br>
        <h2>Sign Up/Register</h2><br><br>
        <label>First Name <input type="text" name="firstname" style="margin-left: 73px;"></label><br><br>
        <label>Last Name <input type="text" name="lastname" style="margin-left: 75px;"></label><br><br>
        <label>Email<input type="text" name="email" style="margin-left: 125px;"></label><br><br>
        <label>Password <input type="password" name="password" style="margin-left: 85px;"></label><br><br>
        <label>Confirm Password <input type="password" name="confirmpassword" style="margin-left: 14px;"></label><br><br><br>
        <button class="btn"><a href="{{url_for('login')}}" style="color:crimson;text-decoration: none;">Register</a></button>
        <!--<label>Firstname<input type="text" name="firstname"></label><br>
        <label>Lastname<input type="text" name="lastname"></label><br>
        <label>Email<input type="text" name="email"></label><br>
        <label>Password<input type="password" name="password"></label><br>
        <label>Confirm Password<input type="password" name="confirmpassword"></label><br><br>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>-->
    </form>
    </div>
    <!--<div class="r1">
        <h2>Sign Up/Register</h2><br>
        <label>First name <input type="text" name="firstname" style="margin-left: 73px;"></label><br><br>
        <label>Last name <input type="text" name="lastname" style="margin-left: 75px;"></label><br><br>
        <label>Email<input type="text" name="email" style="margin-left: 115px;"></label><br><br>
        <label>Password <input type="password" name="password" style="margin-left: 85px;"></label><br><br>
        <label>Confirm Password <input type="password" name="confirmpassword" style="margin-left: 14px;"></label><br><br><br>
        <button class="btn">Register</button>
    </div>-->
</body>
</html>
<script>
    $(document).ready(function() {
    $("form").attr("autocomplete","off");
  })
</script>